.list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin: 20px;
}
.list {
    background-color: #FFF9C4;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    transition: transform 0.3s ease-in-out;
    min-width: 300px;
    max-width: 450px;
}
.list:hover {
    transform: scale(1.05);
}
.list-date {
    margin: auto;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.list-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.list button.delete-button, .delete-button2 {
    background-color: transparent;
    border: none;
    color: inherit;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    font-weight: bold;
    font-size: 20px;
}
.list button.delete-button:hover, .delete-button2:hover {
    color: red;
}
.delete-button2 {
    font-size: 15px;
}
.pencil:hover {
    color: blue;
}
.checkbox {
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.2s ease-in-out;
}
.checkbox:hover {
    border-color: blue;
}
.finished {
    text-decoration: line-through;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li:hover {
    border: 1px solid #ccc;
    border-radius: 5px;
}
li .item-category {
    font-weight: bold;
    margin-right: 10px;
}

li .item-name {
    flex: 1;
}
.button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition-duration: 0.3s;
    margin: 0 5px;
}
.button:hover {
    background-color: #3e8e41;
    cursor: pointer;
    transform: translateX(5px);
    border: black solid 1px;
}
.color-picker {
    width: 25px;
    border: none;
    background-color: transparent;
}
.color-picker:hover {
    cursor: pointer;
}
.color-picker:hover::before {
    content: 'Choose a color';
    position: absolute;
    top: 35px;
    left: 12%;
    transform: translateX(-50%);
    padding: 5px;
    font-size: 10px;
}